argon2-cffi
async-generator
attrs
backcall
bleach
certifi==2021.5.30
cffi
colorama
cycler==0.10.0
decorator
defusedxml
entrypoints==0.3
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib==1.0.1
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver==1.3.1
MarkupSafe
matplotlib==3.4.3
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy==1.21.2
packaging
pandas==1.3.2
pandocfilters
parso
pickle-mixin==1.0.2
pickleshare
Pillow==8.3.1
prometheus-client
prompt-toolkit
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz==2021.1
pywin32==228
pywinpty
pyzmq
qtconsole
QtPy==1.9.0
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.2
Send2Trash
sip==4.19.13
six
sklearn==0.0
terminado==0.9.4
testpath
threadpoolctl==2.2.0
tornado
traitlets
wcwidth
webencodings==0.5.1
widgetsnbextension
wincertstore==0.2
zipp
gunicorn
